.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border: 10px solid $dark;
  animation: rotate 3s linear infinite;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: $dark;
    animation: move1 3s linear infinite;
  }
}

@keyframes move1 {
  0%, 100% {
    transform: translate(0,50px);
  }
  25% {
    transform: translate(-50px,50px);
  }
  50% {
    transform: translate(-50px,0);
  }
  75% {
    transform: translate(0,0);
  }
}

// @keyframes move {
//   0%, 100% {
//     transform: translate(-61px,61px);
//   }
//   25% {
//     transform: translate(0,61px);
//   }
//   50% {
//     transform: translate(0,0);
//   }
//   75% {
//     transform: translate(-61px,0);
//   }
// }

@keyframes rotate {
  0%, 100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}